<% provide(:title, 'All Cohorts') %>

<div class="row title-row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>Cohorts</h1>
  </div>
  <div style="margin-left:auto">
    <%= link_to "New Cohort", new_cohort_path, class: "btn btn-primary"%>
  </div>
</div>

<% unless @active_cohort.nil? %>
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <h3>Current Active Cohort</h3>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <%= render @active_cohort %>
    </table>
  </div>
<% end %>

<div class="well">
  <div class="row title-row">
    <div class="col-md-9">
      <h3>Inactive Cohorts</h3>
    </div>
    <div style="margin-left:auto">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#old-cohorts" aria-expanded="false" aria-controls="collapseExample">
        Show
      </button>
    </div>
  </div>
  <div class="collapse" id="old-cohorts">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <%= render @cohorts %>
    </table>
    <%= will_paginate @cohorts %>
  </div>
</div>

