<% provide(:title, 'All Posts') %>
<% unless @posts.nil? %>
  <% @posts.each do |post| %>
    <%= render :partial => 'blog_post', :locals => {:post => post} %>
  <% end %>
  <div class="row">
    <div class="col-lg-12"><%= will_paginate @posts %></div>
  </div>
<% end %>
