<div class="container">
<% @episodes.each do |episode| %>
  <div class="col-md-4">
    <%= link_to episode.title, episode, class: "episode-title" %>
    <small><p style="margin-top:-10px"> <%= episode.published_date.strftime("Published: %F") %> | <a href="<%= episode.url %>">Listen on Podbean</a></p></small>
    <%= sanitize(episode.description) %>
  </div>
<% end %>
</div>
