<% provide(:title, 'Edit submission') %>
<% provide(:button_text, 'Save changes') %>
<div class="row p-b-1">
  <div class="col-md-8 col-md-offset-2">
    <h1>Edit your submission</h1>
    <%= render 'form' %>
  </div>
</div>