<% provide(:title, 'Edit Post') %>
<% provide(:button_text, 'Save changes') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Update Post</h1>
    <%= render 'form' %>
  </div>
</div>
