@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar-fixed-top {
  padding: 0 50px;
  margin-bottom: 0px;
}

.container {
  height: 100%;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.sg-home {
  background: image-url("Banner.jpg");
  background-size: cover;
  background-position:50% 50%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  resize: vertical;

  .cta-submit {
    margin-right: auto;
    margin-left: auto;
  }
}

.pagination {
  margin: 7px 0 0 0;
}

.pagination-centered {
  margin: 0 auto !important;
  display: table;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.form-pad-bottom {
  padding-bottom: 20px;
}

@media(max-width:767px){}
@media(min-width:768px){
  .button-in-title {
    position: relative;
    text-align: center;
    z-index: 1;
    top: 0;
    margin-bottom: 20px;
  }
}
@media(min-width:992px){
  .button-in-title {
    position:absolute;
    top: 20px;
    right:0;
  }
}
@media(min-width:1200px){}


