@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.navbar-fixed-top {
  padding: 0 50px;
  margin-bottom: 0px;
}

.container {
  height: 100%;
}

/* header */

.logo {
  padding: 10px 0;
  float: left;
}

.logo-text {
  float: right;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 90px;
}

/* Title row */

.title-row {
  display: flex;
  align-items: center;
  margin-right: 0;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.sg-home {
  background: image-url("Banner1.jpg");
  background-size: cover;
  background-position:50% 50%;
  height: 40%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  resize: vertical;

  .cta-submit {
    margin-right: auto;
    margin-left: auto;
  }
}

.pagination {
  margin: 7px 0 0 0;
}

.pagination-centered {
  margin: 0 auto !important;
  display: table;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.form-pad-bottom {
  padding-bottom: 20px;
}
