@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body {
  height: 100%;
}

body {
  padding-top: 90px;
}

.navbar {
  padding: 0 50px;
  margin-bottom: 0;
  .navbar-nav {
    float:right;
    li {
      a{
        line-height:90px;
        padding: 0 15px;
      }
      ul{
        a{
          line-height: 20px;
        }
      }
    }
  }
}

.container {
  height: 100%;
}

/* header */

.logo {
  padding: 10px 0;
  float: left;
}

.logo-text {
  float: right;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 90px;
}

/* Title row */

.title-row {
  display: flex;
  align-items: center;
  margin-right: 0;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.sg-spacer {
  height: 5%;
}

.sg-home {
  height: 42%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  margin-bottom: 0;
  padding: 0;
  &.episode {
    background: image-url("Banner1.jpg");
    background-size: cover;
    background-position :50% 50%;
  }
  &.blog {
    background: image-url("Banner1.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }
}

.pagination {
  margin: 7px 0 0 0;
}

.pagination-centered {
  margin: 0 auto !important;
  display: table;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}

.form-pad-bottom {
  padding-bottom: 20px;
}
