<div class="sg-spacer"></div>
<%= link_to root_path do %>
  <div class="sg-home episode"></div>
<% end %>

<div class="sg-spacer"></div>
<%= link_to root_path do %>
  <div class="sg-home blog"></div>
<% end %>
