<div class="center jumbotron sg-home">
  <%if current_user.role.is_admin?%>
    <%= link_to t("home.cta_manage_cohort"), root_path, class: "cta-submit btn btn-lg btn-primary"%>
  <%elsif current_user.role.is_judge?%>
    <%= link_to t("home.cta_view_submissions"), root_path, class: "cta-submit btn btn-lg btn-primary"%>
  <%else%>
    <%= link_to t("home.cta_submit_application"), root_path, class: "cta-submit btn btn-lg btn-primary"%>
  <%end%>
</div>

<div><%= t("home.main_text")%></div>

