<div class="center jumbotron sg-home">
  <% unless current_user.nil? %>
    <%= link_to t("home.cta_manage_cohort"), posts_path, class: "cta-submit btn btn-lg btn-primary"%>
  <% end %>
</div>

<div><%= t("home.main_text")%></div>

