<div class="home-ctas">
  <%= link_to episodes_path, class: "banner-link" do %>
    <div class="sg-home episode"><p>episodes</p></div>
  <% end %>
  <div class="sg-spacer"></div>
  <%= link_to blog_posts_path, class: "banner-link" do %>
    <div class="sg-home blog"><p>blog</p></div>
  <% end %>
</div>

<!--This is a dirty hack to get the vh to expand when scrolling down-->
<script>
    $(document).ready(function() {
        $('.home-ctas').css({height: window.innerHeight - 172});
    });
</script>