<div class="sg-spacer"></div>
<%= link_to episodes_path, class: "banner-link" do %>
  <div class="sg-home episode"><p>episodes</p></div>
<% end %>

<div class="sg-spacer"></div>
<%= link_to root_path, class: "banner-link" do %>
  <div class="sg-home blog"><p>blog</p></div>
<% end %>
