<div class="footer">
  <%= link_to(fa_stacked_icon("facebook", base: "square-o"), "#{t("social_links.facebook")}") %>
  <%= link_to(fa_stacked_icon("instagram", base: "square-o"), "#{t("social_links.instagram")}") %>
  <%= link_to(fa_stacked_icon("twitter", base: "square-o"), "#{t("social_links.twitter")}") %>
</div>