<div class="footer">
  <div class="social-links">
    <%= link_to(sanitize("#{fa_icon("instagram")}"), "#{t("social_links.instagram")}", class: "social-link") %>
    <%= link_to(sanitize("#{fa_icon("facebook")}"), "#{t("social_links.facebook")}", class: "social-link") %>
    <%= link_to(sanitize("#{fa_icon("twitter")}"), "#{t("social_links.twitter")}", class: "social-link") %>
  </div>
</div>